extends layout

block layout-content
  div.View
    h1.Banner CodeInCar
    div.Message
      div.Title
        h3 Making the Best
        h1 Software in car at everywhere
      span.Details Access the CodeInCar Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Coding in car!